.workflow-dialog-amount {
  margin-top: 1.25rem;
}

.selections {
  display: flex;
  flex-direction: row;
}

.buttons {
  width: auto;
  white-space: nowrap;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.amount-input-fields {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}

.amount-input,
.exchange-rate {
  padding-right: 1.25rem;
}

.exchange-rate {
  width: 6rem;
}

.typography-field {
  align-self: center;
  margin-right: 1rem;
  &.no-margin {
    margin-right: 0;
  }
}

.typography-field-with-currency {
  display: flex;
  align-self: center;
  width: 15rem;
}

.currency-dropdown {
  min-width: 10rem;
}

.amount-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
