{
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "plugins": ["react", "react-hooks", "simple-import-sort", "unused-imports"],

  "env": {
    "es6": true,
    "node": true
  },

  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              ["^react", "^@?\\w"],
              ["^@mui"],
              ["^(@|components)(/.*|$)"],
              ["^\\u0000"],
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              ["^.+\\.?(css)$"]
            ]
          }
        ]
      }
    }
  ],

  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "no-var": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "import/named": "error",
    "semi-style": ["error", "last"],
    "semi": ["error", "always"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "no-prototype-builtins": "warn",
    "no-unused-vars": ["warn", { "args": "all", "argsIgnorePattern": "^_" }],
    "unused-imports/no-unused-imports": "warn"
  }
}
