DOCKER_REGISTRY_PASSWORD
*.orig
.DS_Store
**/*.env
*~
*-audit.json
Untitled*
node_modules
yarn-error.log
.markdownlint.*
*.code-workspace
.vs/
e2e-test/debug.log
scripts/development/.env
scripts/development/certs
scripts/operation/.env
.idea/
docs/developer/api-docs
scripts/development/.env.bak
scripts/operation/.env.bak
scripts/operation/.env.file.bak
scripts/operation/cronjob.err
scripts/operation/cronjob.output
api/src/trubudget-config/upgrade_version.txt
api/src/trubudget-config/upgradable.txt
