.tooltip__body {
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 0.8em;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  min-width: 13em;
  white-space: normal;
  text-align: left;
  cursor: default;
  transition: opacity 0.3s;

  .tooltip__close {
    float: right;
    font-size: 0.8em;
    color: #999;
    cursor: pointer;
  }

  .tooltip__content_wrapper {
    margin-top: 30px;

    .tooltip__typeIcon {
      width: 120px;
      padding-left: 0.8em;
      float: left;

      p {
        text-align: left;
        margin-left: 0.6empx;
      }
    }

    .tooltip__navigationLink {
      margin-left: 0.35em;
    }

    .tooltip__text {
      min-width: 19em;
      min-height: 9em;
      padding-left: 7.5em;

      .tooltip__content {
        font-size: 1.2em;
      }

      .tooltip__clickInfo {
        font-size: 0.8em;
        margin: 1.25em 0.8em;
        background-color: #ddd;
        color: #666;
        font-style: italic;
        padding: 0.8em;

        .tooltip__clickInfo__icon {
          position: absolute;
        }

        span {
          margin-left: 2em;
        }
      }
    }

    .tooltip__footer {
      margin: 0.8em 0;
      min-height: 2em;

      .tooltip__button--primary {
        float: right;
      }
    }
  }
}

.__floater__arrow {
  bottom: 1px;
  span {
    svg {
      polygon {
        fill: #fff !important;
      }
    }
  }
}
