.circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  &.green {
    background-color: green;
  }
  &.red {
    background-color: red;
  }
}

.approved-node-box {
  margin: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.approved-node-cell {
  min-width: 250px;
  max-width: 250px;
}

.node-info-icon {
  margin-left: 0.3rem;
  margin-bottom: -0.5rem;
  font-size: x-large;
  color: dimgrey;
}

.center-cell {
  text-align: -webkit-center;
}

.no-padding-cell {
  padding-top: 0;
  padding-bottom: 0;
}
