@import "./index.scss";

.or-label {
  padding-top: 0.3rem;
  vertical-align: middle;
}

.document-upload-button {
  vertical-align: middle;
}

.document-upload-input {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.document-link-cell {
  text-align: center;
  background-color: #f3f3f3;
}

.document-upload-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.document-upload-table {
  width: 70%;
}

.document-upload-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.625rem;
}

.document-external-link-input {
  margin-right: 0.3rem;
}

.document-external-link-upload {
  margin-top: 0.9rem;
  width: 100%;

  .document-upload-button {
    overflow: visible;
    margin: 1rem auto 0.6rem auto;
  }

  .document-external-link-upload-label {
    width: 100%;
  }
}

.paper-forms {
  padding: 0.625rem 1.5rem 0.625rem 1rem;
  margin-top: 1.25rem;
  justify-content: center;
  min-width: 32rem;
}
