.example-enter {
  position: absolute;
  right: -999px;
}

.example-enter.example-enter-active {
  right: 0px;
  transition: all 500ms ease-in;
}

.example-leave {
  position: absolute;
  right: 0px;
}

.example-leave.example-leave-active {
  right: -999px;
  transition: all 300ms ease-in;
}

.history-enter {
  height: 100%;
  position: absolute;
  right: -999px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.history-enter.history-enter-active {
  right: 0px;
  transition: all 500ms ease-in;
}

.history-leave {
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.history-leave.history-leave-active {
  right: -999px;
  transition: all 500ms ease-in;
}

.container {
  flex: 1;
  width: 74%;
}

@media (max-width: 1000px) {
  .container {
    flex: 1;
    width: 95%;
  }
}