@import "../../mixins.scss";

.login-page-container {
  background-image: url(../../../public/Gradient-Background.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card {
  width: 28rem;
  z-index: 1100;
  opacity: 0.9;
  @include mobile {
    width: auto;
    margin: 0 2.5rem 0 2.5rem;
  }
  @include tablet {
    width: 50%;
    margin: 0 2.5rem 0 0;
  }
}

.login-card-header {
  width: 70%;
}

.login-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-card-footer {
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-dropdown {
  margin-bottom: 0.5rem;
}

.login-button {
  width: 50%;
}

.admin-login-settings {
  margin: 0.3rem 2.5rem 0.3rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-button-proxy-container {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.forgot-password {
  display: flex;
  justify-content: center;
}

.divider-with-margin {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card-header-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trubudget-logo {
  margin-bottom: 3.25rem;
}

.login-page-content {
  display: flex;
  flex-direction: row;
}

.login-image {
  @include tablet {
    width: 50%;
    margin-left: 2.5rem;
  }

  @include mobile {
    display: none;
  }
}
