.create-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1.25rem;
  height: 2.5rem;
  width: auto;
  border-radius: 2.5rem;
  padding: 1rem 1.25rem;
  box-shadow: none;
  color: white;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24;
}

.create-button-text {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}
