.search-bar {
  display: flex;
  align-items: center;
}

.search-field {
  width: 21.25rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  box-shadow: none;
  border: 1px solid;
  border-radius: 2.5rem;
  border-color: var(--mui-palette-faintGrey);
  padding: 0.375rem 0.75rem;
  &:hover {
    background-color: var(--mui-palette-grey-light);
  }
}

.form {
  width: 90%;
}

.form-control-search {
  width: 97%;
}
