version: "3"

networks:
  mynetwork:
    ipam:
      config:
        - subnet: 172.21.0.0/24

services:
  alpha-node:
    image: trubudget/blockchain:${TAG}
    environment:
      PORT: 8085
      MULTICHAIN_RPC_PORT: ${MULTICHAIN_RPC_PORT}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      ORGANIZATION: ${ORGANIZATION}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      EMAIL_SERVICE_ENABLED: ${EMAIL_SERVICE_ENABLED}
      EMAIL_SSL: ${EMAIL_SSL}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      LOG_LEVEL: ${BLOCKCHAIN_LOG_LEVEL}
      NODE_ENV: ${NODE_ENV}
      CERT_PATH: ${CERT_PATH}
      CERT_CA_PATH: ${CERT_CA_PATH}
      CERT_KEY_PATH: ${CERT_KEY_PATH}
      AUTOSTART: ${AUTOSTART}
      MULTICHAIN_FEED_ENABLED: ${MULTICHAIN_FEED_ENABLED}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.11
    # volume for persisting data from multichain
    # volumes:
    #   - alphaVolume:${MULTICHAIN_DIR}
    ports:
      - ${MULTICHAIN_RPC_PORT}:${MULTICHAIN_RPC_PORT} # port for connecting to the multichain daemon
      - ${BLOCKCHAIN_PORT}:${BLOCKCHAIN_PORT} # port for requests to blockchain API
      - "7447:7447" # port for connecting beta nodes (P2P)

  emaildb:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      # volume for persisting data
    volumes:
      - /emaildbVolume:/var/lib/postgresql/data
    networks:
      mynetwork:
        ipv4_address: 172.21.0.2
    ports:
      - 5432:5432

  minio:
    image: minio/minio:RELEASE.2023-09-04T19-57-37Z
    ports:
      - ${MINIO_PORT}:${MINIO_PORT}
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
    command: server /data
    # volume for persisting data
    volumes:
      - /minioVolume:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      mynetwork:
        ipv4_address: 172.21.0.3

  alpha-api:
    image: trubudget/api:${TAG}
    environment:
      PORT: ${API_PORT}
      ORGANIZATION: ${ORGANIZATION}
      ORGANIZATION_VAULT_SECRET: ${ORGANIZATION_VAULT_SECRET}
      MULTICHAIN_RPC_HOST: alpha-node
      MULTICHAIN_RPC_PORT: ${MULTICHAIN_RPC_PORT}
      ROOT_SECRET: ${ROOT_SECRET}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      BLOCKCHAIN_PORT: ${BLOCKCHAIN_PORT}
      DOCUMENT_FEATURE_ENABLED: ${DOCUMENT_FEATURE_ENABLED}
      STORAGE_SERVICE_EXTERNAL_URL: ${STORAGE_SERVICE_EXTERNAL_URL}
      STORAGE_SERVICE_HOST: storage-service
      STORAGE_SERVICE_PORT: ${STORAGE_SERVICE_PORT}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      ENCRYPTION_PASSWORD: ${ENCRYPTION_PASSWORD}
      SIGNING_METHOD: ${SIGNING_METHOD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
      NODE_ENV: ${NODE_ENV}
      ACCESS_CONTROL_ALLOW_ORIGIN: ${ACCESS_CONTROL_ALLOW_ORIGIN}
      LOG_LEVEL: ${API_LOG_LEVEL}
      RATE_LIMIT: ${RATE_LIMIT}
      AUTHPROXY_ENABLED: ${AUTHPROXY_ENABLED}
      AUTHPROXY_JWS_SIGNATURE: ${AUTHPROXY_JWS_SIGNATURE}
      APPLICATIONINSIGHTS_CONNECTION_STRING: ${APPLICATIONINSIGHTS_CONNECTION_STRING}
      REFRESH_TOKEN_STORAGE: ${REFRESH_TOKEN_STORAGE}
      API_DB_USER: ${API_DB_USER}
      API_DB_PASSWORD: ${API_DB_PASSWORD}
      API_DB_HOST: ${API_DB_HOST}
      API_DB_DATABASE: ${API_DB_DATABASE}
      API_DB_PORT: ${API_DB_PORT}
      API_DB_SSL: ${API_DB_SSL}
      API_DB_SCHEMA: ${API_DB_SCHEMA}
      API_DB_NAME: ${API_DB_NAME}
      API_REFRESH_TOKENS_TABLE: ${API_REFRESH_TOKENS_TABLE}
    depends_on:
      - alpha-node
    volumes:
      - "../../api/src/trubudget-config:/home/node/src/trubudget-config:delegated"
    networks:
      mynetwork:
        ipv4_address: 172.21.0.4
    ports:
      - ${API_PORT}:${API_PORT}

  email-service:
    image: trubudget/email-notification:${TAG}
    command: ["npm", "start"]
    environment:
      AUTHENTICATION: ${AUTHENTICATION}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SSL: ${SMTP_SSL}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      PORT: ${EMAIL_PORT}
      LOG_LEVEL: ${EMAIL_LOG_LEVEL}
      RATE_LIMIT: ${RATE_LIMIT}
      EMAIL_FROM: ${EMAIL_FROM}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.5
    depends_on:
      - emaildb
      - alpha-api
    ports:
      - "8890:8890"

  provisioning:
    image: trubudget/provisioning:${TAG}
    command: ["npm", "start"]
    environment:
      API_HOST: alpha-api
      API_PORT: ${API_PORT}
      API_PROTOCOL: ${API_PROTOCOL}
      PROVISIONING_TYPE: ${PROVISIONING_TYPE}
      ROOT_SECRET: ${ROOT_SECRET}
      ORGANIZATION: ${ORGANIZATION}
      LOG_LEVEL: ${PROVISIONING_LOG_LEVEL}
      PROVISIONING_SERVICE_USER: ${PROVISIONING_SERVICE_USER}
      PROVISIONING_SERVICE_PASSWORD: ${PROVISIONING_SERVICE_PASSWORD}
      PROVISIONING_BETA: ${PROVISIONING_BETA}
    # volumes:
    #   - ../../betaProvisioning:/home/node/src/data
    networks:
      mynetwork:
        ipv4_address: 172.21.0.6
    depends_on:
      - alpha-api

  excel-export-service:
    image: trubudget/excel-export:${TAG}
    # build:
    #   context: ../../excel-export-service
    environment:
      API_HOST: alpha-api
      API_PORT: ${API_PORT}
      PORT: ${EXPORT_PORT}
      JWT_SECRET: ${JWT_SECRET}
      MODE: DEBUG
      LOG_LEVEL: ${EXCEL_LOG_LEVEL}
      RATE_LIMIT: ${RATE_LIMIT}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.7
    ports:
      - "${EXPORT_PORT}:${EXPORT_PORT}"
    depends_on:
      - alpha-api

  storage-service:
    image: trubudget/storage-service:${TAG}
    environment:
      PORT: ${STORAGE_SERVICE_PORT}
      NODE_ENV: ${NODE_ENV}
      ACCESS_CONTROL_ALLOW_ORIGIN: ${ACCESS_CONTROL_ALLOW_ORIGIN}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_HOST: minio
      MINIO_PORT: ${MINIO_PORT}
      MINIO_PROTOCOL: ${MINIO_PROTOCOL}
      LOG_LEVEL: ${STORAGE_LOG_LEVEL}
      RATE_LIMIT: ${RATE_LIMIT}
      STORAGE_PROVIDER: ${STORAGE_PROVIDER}
      AZURE_STORAGE_CONNECTION_STRING: ${AZURE_STORAGE_CONNECTION_STRING}
      AZURE_STORAGE_PORT: ${AZURE_STORAGE_PORT}
      AZURE_CONTAINER_NAME: ${AZURE_CONTAINER_NAME}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.8
    depends_on:
      - minio
      - alpha-api
    ports:
      - "${STORAGE_SERVICE_PORT}:${STORAGE_SERVICE_PORT}"

  frontend:
    image: trubudget/frontend:${TAG}
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV}
      REACT_APP_EXPORT_SERVICE_ENABLED: ${REACT_APP_EXPORT_SERVICE_ENABLED}
      REACT_APP_EMAIL_SERVICE_ENABLED: ${REACT_APP_EMAIL_SERVICE_ENABLED}
      API_HOST: alpha-api
      API_PORT: ${API_PORT}
      API_PROTOCOL: ${API_PROTOCOL}
      EXPORT_HOST: ${EXPORT_HOST}
      EXPORT_PORT: ${EXPORT_PORT}
      EXPORT_PROTOCOL: ${EXPORT_PROTOCOL}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_PROTOCOL: ${EMAIL_PROTOCOL}
      STORAGE_SERVICE_HOST: ${STORAGE_SERVICE_HOST}
      STORAGE_SERVICE_PORT: ${STORAGE_SERVICE_PORT}
      STORAGE_SERVICE_PROTOCOL: ${STORAGE_SERVICE_PROTOCOL}
      INLINE_RUNTIME_CHUNK: ${INLINE_RUNTIME_CHUNK}
      REACT_APP_LOGGING: ${REACT_APP_LOGGING}
      REACT_APP_LOG_LEVEL: ${REACT_APP_LOG_LEVEL}
      REACT_APP_LOGGING_SERVICE_HOST: ${REACT_APP_LOGGING_SERVICE_HOST}
      REACT_APP_LOGGING_SERVICE_PORT: ${REACT_APP_LOGGING_SERVICE_PORT}
      REACT_APP_LOGGING_SERVICE_HOST_SSL: ${REACT_APP_LOGGING_SERVICE_HOST_SSL}
      REACT_APP_LOGGING_PUSH_INTERVAL: ${REACT_APP_LOGGING_PUSH_INTERVAL}
      REACT_APP_AUTHPROXY_ENABLED: ${AUTHPROXY_ENABLED}
      REACT_APP_AUTHPROXY_URL: ${REACT_APP_AUTHPROXY_URL}
      REACT_APP_EXCHANGE_RATE_URL: ${REACT_APP_EXCHANGE_RATE_URL}
      REACT_APP_APPLICATIONINSIGHTS_CONNECTION_STRING: ${REACT_APP_APPLICATIONINSIGHTS_CONNECTION_STRING}
      REACT_APP_POLLING_INTERVAL: ${REACT_APP_POLLING_INTERVAL}
      REACT_APP_API_SERVICE_ADDITIONAL_NGINX_CONF: ${REACT_APP_API_SERVICE_ADDITIONAL_NGINX_CONF}
      REACT_APP_EMAIL_SERVICE_ADDITIONAL_NGINX_CONF: ${REACT_APP_EMAIL_SERVICE_ADDITIONAL_NGINX_CONF}
      REACT_APP_EXPORT_SERVICE_ADDITIONAL_NGINX_CONF: ${REACT_APP_EXPORT_SERVICE_ADDITIONAL_NGINX_CONF}
      REACT_APP_STORAGE_SERVICE_ADDITIONAL_NGINX_CONF: ${REACT_APP_STORAGE_SERVICE_ADDITIONAL_NGINX_CONF}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.91
    depends_on:
      - alpha-api
    ports:
      - "3000:80" # map nginx port 80 to localhost:3000

  frontend-collector:
    build:
      context: ../../frontend-collector
    environment:
      LOGGER_PORT: ${LOGGER_PORT}
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      API_PROTOCOL: ${API_PROTOCOL}
      LOG_LEVEL: ${LOG_LEVEL}
      LOGGING_SERVICE_CACHE_DURATION: ${LOGGING_SERVICE_CACHE_DURATION}
      NODE_ENV: ${LOGGING_SERVICE_NODE_ENV}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.13
    ports:
      - "${LOGGER_PORT}:${LOGGER_PORT}"

  beta-node:
    image: trubudget/blockchain:latest
    environment:
      MULTICHAIN_RPC_PORT: ${BETA_MULTICHAIN_RPC_PORT}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      ORGANIZATION: ${BETA_ORGANIZATION}
      EXTERNAL_IP: ${EXTERNAL_IP}
      # P2P_HOST must be a valid IP-Address. If you pass a domain like "alpha-node", the windows kernel will shutdown the process because of a segmentation fault
      P2P_HOST: 172.21.0.11 # IP of alpha-node
      P2P_PORT: 7447
      API_PROTOCOL: http
      API_HOST: alpha-api # API to send register request
      API_PORT: ${API_PORT}
    volumes:
      - beta1Volume:${MULTICHAIN_DIR}
    depends_on:
      - alpha-node
      - alpha-api
    networks:
      mynetwork:
        ipv4_address: 172.21.0.12
    ports:
      - ${BETA_MULTICHAIN_RPC_PORT}:${BETA_MULTICHAIN_RPC_PORT}
      - "8086:${BLOCKCHAIN_PORT}"
      - "7448:7447" # beta-node port is 7448 on host
    privileged: true


  beta-api:
    image: trubudget/api:${TAG}
    environment:
      PORT: ${BETA_API_PORT}
      ORGANIZATION: ${BETA_ORGANIZATION}
      ORGANIZATION_VAULT_SECRET: ${BETA_ORGANIZATION_VAULT_SECRET}
      MULTICHAIN_RPC_HOST: beta-node
      MULTICHAIN_RPC_PORT: ${BETA_MULTICHAIN_RPC_PORT}
      ROOT_SECRET: ${ROOT_SECRET}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      BLOCKCHAIN_PORT: ${BLOCKCHAIN_PORT}
      DOCUMENT_FEATURE_ENABLED: ${DOCUMENT_FEATURE_ENABLED}
      STORAGE_SERVICE_EXTERNAL_URL: ${STORAGE_SERVICE_EXTERNAL_URL}
      STORAGE_SERVICE_HOST: storage-service
      STORAGE_SERVICE_PORT: ${STORAGE_SERVICE_PORT} 
      ENCRYPTION_PASSWORD: ${ENCRYPTION_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      SIGNING_METHOD: ${SIGNING_METHOD}
      NODE_ENV: ${NODE_ENV}
      ACCESS_CONTROL_ALLOW_ORIGIN: ${ACCESS_CONTROL_ALLOW_ORIGIN}
      RATE_LIMIT: ${RATE_LIMIT}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.44
    ports:
      - ${BETA_API_PORT}:${BETA_API_PORT}
    depends_on:
      - beta-node

  beta-frontend:
    image: trubudget/frontend:${TAG}
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV}
      REACT_APP_EXPORT_SERVICE_ENABLED: "false"
      REACT_APP_EMAIL_SERVICE_ENABLED: "false"
      PROD_API_HOST: beta-api
      PROD_API_PORT: ${BETA_API_PORT}
      TEST_API_HOST: beta-api
      TEST_API_PORT: ${BETA_API_PORT}
      API_HOST: beta-api
      API_PORT: ${BETA_API_PORT}
      INLINE_RUNTIME_CHUNK: ${INLINE_RUNTIME_CHUNK}
    networks:
      mynetwork:
        ipv4_address: 172.21.0.92
    depends_on:
      - alpha-api
    ports:
      - "3005:80" # map nginx port 80 to localhost:3005 

volumes:
  alphaVolume:
  beta1Volume:
  # betaProvisioning:
