version: "3"
services:
  master-node:
    build: .
    environment:
      RPC_PORT: 8000
      RPC_PASSWORD: s750SiJnj50yIrmwxPnEdSzpfGlTAHzhaUwgqKeb0G1j
      ORGANIZATION: ACMECorp
      EMAIL_HOST: localhost
      EMAIL_PORT: 8889
    ports:
      - "8000:8000"
      - "8085:8085"
  # master-api:
  #   build: ../api
  #   environment:
  #     APP_NAME: Trubudget
  #     NODE_LOCATION_LAT: "30.11"
  #     NODE_LOCATION_LNG: "4.68"
  #     NODE_COUNTRY: Brasil
  #     NODE_DESCRIPTION: UmbrellaCorp
  #     ORGANIZATION: UmbrellaCorp
  #     ORGANIZATION_VAULT_SECRET: Weo2heel
  #     RPC_HOST: master-node
  #     RPC_PORT: 8000
  #     ROOT_SECRET: asdf
  #     RPC_PASSWORD: s750SiJnj50yIrmwxPnEdSzpfGlTAHzhaUwgqKeb0G1j
  #   ports:
  #     - 8081:8080
  #   links:
  #     - master-node
  # bc-slave:
  #   build:
  #     context: .
  #   environment:
  #     RPC_PORT: 8000
  #     ORGANIZATION: ACMECorp
  #     RPC_PASSWORD: s750SiJnj50yIrmwxPnEdSzpfGlTAHzhaUwgqKeb0G1j
  #     P2P_HOST: master-node
  #     P2P_PORT: 7447
  #     API_PROTO: http
  #     API_HOST: master-api
  #     API_PORT: 8080
  #   links:
  #     - master-node
  #     - master-api
  # slave-api:
  #   build:
  #     context: ../api
  #   environment:
  #     RPC_HOST: bc-slave
  #     RPC_PORT: 8000
  #     PORT: 8080
  #     ORGANIZATION: ACMECorp
  #     ORGANIZATION_VAULT_SECRET: Weo2heel
  #     ROOT_SECRET: asdf
  #     RPC_PASSWORD: s750SiJnj50yIrmwxPnEdSzpfGlTAHzhaUwgqKeb0G1j
  #     # for real deployment comment the BC_ADDRESS_VERIFACTION, otherwise everyone can create transaction from anywhere
  #   links:
  #     - bc-slave
  # frontend:
  #   build: ../frontend
  #   environment:
  #     PROD_API_HOST: master-api
  #     PROD_API_PORT: 8080
  #     TEST_API_HOST: master-api
  #     TEST_API_PORT: 8080
  #   ports:
  #     - "80:80" # Mapping the nginx port
  #   links:
  #     - master-api
  #     # - test-master-api
  # slave-frontend:
  #   image: trubudget/frontend:master
  #   environment:
  #     PROD_API_HOST: slave-api
  #     PROD_API_PORT: 8080
  #     TEST_API_HOST: slave-api
  #     TEST_API_PORT: 8080
  #   ports:
  #     - "81:80" # Mapping the nginx port
  #   links:
  #     - slave-api
  #     # - test-master-api
  # provisioning:
  #   build:
  #     context: ../provisioning
  #   command: ["npm", "start"]
  #   environment:
  #     API_HOST: master-api
  #     API_PORT: 8080
  #     ENVIRONMENT_TYPE: PROD
  #     ROOT_SECRET: asdf
  #     ORGANIZATION: UmbrellaCorp
  #   links:
  #     - master-api
