.sub-projects {
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.sub-projects-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 1rem;
  right: -1.3rem;
}

.sub-projects-fab {
  position: relative;
  z-index: 20;
}

.sub-projects-history {
  position: relative;
  margin-top: 0.5rem;
}
