{
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },

    "sourceType": "module"
  },

  "env": {
    "node": true
  },

  "plugins": ["import"],

  "rules": {
    "no-var": 1,
    "import/named": 2,
    "semi-style": ["error", "last"],
    "semi": [2, "always"]
  }
}
