services:
  api:
    build: ../api
    # image: trubudget/api:v2.2.1
    environment:
      PORT: ${API_PORT}
      ORGANIZATION: ${ORGANIZATION}
      ORGANIZATION_VAULT_SECRET: ${ORGANIZATION_VAULT_SECRET}
      MULTICHAIN_RPC_HOST: ${MULTICHAIN_RPC_HOST}
      MULTICHAIN_RPC_PORT: ${MULTICHAIN_RPC_PORT}
      MULTICHAIN_RPC_USER: ${MULTICHAIN_RPC_USER}
      ROOT_SECRET: ${ROOT_SECRET}
      DOCUMENT_FEATURE_ENABLED: ${DOCUMENT_FEATURE_ENABLED}
      STORAGE_SERVICE_EXTERNAL_URL: ${STORAGE_SERVICE_EXTERNAL_URL}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      BLOCKCHAIN_PORT: ${BLOCKCHAIN_PORT}
      JWT_SECRET: ${JWT_SECRET}
      SIGNING_METHOD: ${SIGNING_METHOD}
      ENCRYPTION_PASSWORD: ${ENCRYPTION_PASSWORD}
      NODE_ENV: ${ENVIRONMENT}
      ACCESS_CONTROL_ALLOW_ORIGIN: ${API_ACCESS_CONTROL_ALLOW_ORIGIN}
      CI_COMMIT_SHA: ${CI_COMMIT_SHA}
      BUILDTIMESTAMP: ${BUILDTIMESTAMP}
      LOG_LEVEL: ${API_LOG_LEVEL}
      PRETTY_PRINT: ${PRETTY_PRINT}
      RATE_LIMIT: ${RATE_LIMIT}
      APPLICATIONINSIGHTS_CONNECTION_STRING: ${APPLICATIONINSIGHTS_CONNECTION_STRING}
    # depends_on:
    #   - blockchain
    # networks:
    #   mynetwork:
    #     ipv4_address: 172.20.0.4
    ports:
      - "${API_PORT}:${API_PORT}"
