header,
body {
  padding: 0 !important;
}

body {
  overflow: auto !important;

  /*  default font */
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.noFocus {
  outline: 0;
}
