.title-row {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.status-header-cell {
  width: 15%;
  padding: 0;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.05rem;
  vertical-align: top;
  border-bottom: 1px solid rgba(63, 67, 77, 0.1);
}

.status-table-cell {
  width: 15%;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.269rem;
  border-bottom: 1px solid rgba(63, 67, 77, 0.1);
}

.first-table-cell {
  width: 40%;
}

.status-table-header {
  height: 2rem;
}

.status-table-row {
  height: 3rem;
}

.status-card-title {
  margin-left: 0.5rem;
  font-weight: 600;
  line-height: 1.688rem;
  font-size: 1.125rem;
}

.status-circle {
  background-color: var(--mui-palette-primary-secondary);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.centered-table-cell {
  text-align: -webkit-center;
}
