.add-project-card {
  height: 36.25rem;
  margin: 2.2rem;
  width: 18.75rem;
  opacity: 0.7;
}

.add-project-content {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  max-width: 21.875rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.projects-table-entries {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content-add-button {
  min-height: 3.5rem;
}

.card-view-pagination {
  .MuiTablePagination-actions {
    button {
      color: white;
      background-color: var(--mui-palette-primary-600);
      &:hover {
        background-color: var(--mui-palette-primary-800);
      }
      &:disabled {
        color: var(--mui-palette-action-disabled);
        background-color: var(--mui-palette-grey-600);
        opacity: 0.6;
      }
      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}

.card-view-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-project {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
