.project-buttons-box {
  display: flex;
  gap: 1.25rem;
}

.project-column {
  font-size: 1.1rem;
}

.project-tags-box {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 6.25rem;
}

.project-actions-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-actions {
  display: flex;
  align-items: center;
}

.project-box-block {
  display: block;
}

.filter-menu-box {
  margin-left: 1.5rem;
}

.table-view-editor-box {
  margin-right: 9.5rem;
}

.create-project-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-add-button {
  position: absolute;
  top: -3.3rem;
  height: 2.5rem;
  width: auto;
  border-radius: 2.5rem;
  padding: 1rem 1.25rem;
  box-shadow: none;
  color: white;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24;
  &.card-view {
    right: 0;
  }
}

.add-new-project-text {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}
