services:
  blockchain:
    image: trubudget/blockchain:${TAG}
    environment:
      # Important environment variables for a TruBudget beta node 
      P2P_HOST: ${P2P_HOST}
      P2P_PORT: ${P2P_PORT}
      API_HOST: ${EXTERNAL_ALPHA_API_HOST}
      API_PORT: ${EXTERNAL_ALPHA_API_PORT}
      API_PROTO: ${EXTERNAL_ALPHA_API_PROTO}
      # Environment variables for a common TruBudget node 
      PORT: ${BLOCKCHAIN_PORT}
      MULTICHAIN_RPC_PORT: ${MULTICHAIN_RPC_PORT}
      MULTICHAIN_RPC_PASSWORD: ${MULTICHAIN_RPC_PASSWORD}
      MULTICHAIN_RPC_USER: ${MULTICHAIN_RPC_USER}
      RPC_ALLOW_IP: ${RPC_ALLOW_IP}
      ORGANIZATION: ${ORGANIZATION}
      JWT_SECRET: ${JWT_SECRET}
      LOG_LEVEL: ${BLOCKCHAIN_LOG_LEVEL}
      PRETTY_PRINT: ${PRETTY_PRINT}
      NODE_ENV: ${ENVIRONMENT}
      CERT_PATH: ${CERT_PATH}
      CERT_CA_PATH: ${CERT_CA_PATH}
      CERT_KEY_PATH: ${CERT_KEY_PATH}
      BLOCKNOTIFY_SCRIPT: ${BLOCKNOTIFY_SCRIPT}
      KUBE_SERVICE_NAME: ${KUBE_SERVICE_NAME}
      KUBE_NAMESPACE: ${KUBE_NAMESPACE}
      EXPOSE_MC: ${EXPOSE_MC}
      CI_COMMIT_SHA: ${CI_COMMIT_SHA}
      BUILDTIMESTAMP: ${BUILDTIMESTAMP}
      EXTERNAL_IP: ${EXTERNAL_IP}
      MULTICHAIN_DIR: ${MULTICHAIN_DIR}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_SSL: ${EMAIL_SSL}
      NOTIFICATION_PATH: ${NOTIFICATION_PATH}
      NOTIFICATION_MAX_LIFETIME: ${NOTIFICATION_MAX_LIFETIME}
      NOTIFICATION_SEND_INTERVAL: ${NOTIFICATION_SEND_INTERVAL}
    # networks:
    #   mynetwork:
    #     ipv4_address: 172.20.0.11
    ports:
      - "${MULTICHAIN_RPC_PORT}:${MULTICHAIN_RPC_PORT}"
      - "${BLOCKCHAIN_PORT}:${BLOCKCHAIN_PORT}"
      - "${P2P_PORT}:${P2P_PORT}"
