name: Lint CI

on: 
  push:
    branches:
      - master
  pull_request:
  release:
    types: [published]

jobs:

  Lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]
        project: [frontend,api,blockchain,provisioning]
        
    defaults:
      run:
        working-directory: ${{ matrix.project }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Install node in ${{ matrix.project }}
        run: npm ci
         
      - name: Run Lint in ${{ matrix.project }}
        run: npm run lint
